*{
    color:white;
}
body{
    margin:0px;
    padding:0px;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.riga{
    display: flex;
    flex: 1;
    
}

.omegaContainer{
    
    display: flex;
    justify-content: space-around;
    width:100vh;
    
}


.whiteSquare{
    background-color:white;
    height: 20px;
    width: 20px;
}
.blackSquare{
    background-color:black;
    height: 20px;
    width: 20px;
}

.redSquare{
    background-color:red;
    height: 20px;
    width: 20px;
}

.blueSquare{
    background-color:blue;
    height: 20px;
    width: 20px;
}

h1{
    color:white;
}

h3{
    color:white;
}



.container{
    height:600px;
    width:600px;
    display: flex;
    flex-direction: column;
}

.square{
    
    flex:1;
    height:auto;
}

h1{
    text-align:center;
    margin-bottom: 64px;
}

button{
    margin-top:16px;
    width: 100px;
    color:black;
}

.eraser{
    color:black;
    align-self: center;
}

.columnContainer{
    display: flex;
    flex-direction: column;
}

.option{
    display: flex;
    flex-direction: column;
   
}

.coloreScelto{
    height: 20px;
    width: 20px;
    border-radius: 24px;
    border: 2px solid white;
    align-self: center;
    margin-top: 16px;
}

.backGroundRosso{
    background-color: red;
}

.backGroundNero{
    background-color: black;
}

.backGroundBlu{
    background-color: blue;
}

