body{
    margin:0px;
    padding:0px;
    background-color: black;
    
}



.riga{
    display: flex;
}

.omegaContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.whiteSquare{
    background-color:white;
    height: 20px;
    width: 20px;
}
.blackSquare{
    background-color:black;
    height: 20px;
    width: 20px;
}